#right{
  float: right;
}
summary{
  width: 100px;
  background-color: white;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}
details{
  background-color: #eeeeee;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
  border: none;
}
.footer{
  color: white;
  padding:20px;
  text-align:center;
  background:dimgray;
  border-radius: 15px;
}
body{
  padding-top: 80px;
}
@media (max-width: 550px){
  #header .bottom-header h1 {
    font-size: 30px;
    line-height: 45px;
  }
